@import "../__variables.scss";
@import "../__mixins.scss";

.slider-single-page-wrapper {
    width: 1600px;
    min-height: 777px;
    margin: 0 auto;
    background-color: #f7f7f7;
    margin-top: -60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-photo {
    width: 597px;
    min-height: 724px;
    margin: 0 auto;
}

.angle-left,
.angle-right {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.14);
    font-size: 24px;
    line-height: 47px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.angle-left:hover {
    background-color: rgba(42, 42, 42, 0.4);
}

.angle-right:hover {
    background-color: rgba(42, 42, 42, 0.4);
}

.description-items {
    margin-top: -70px;
}

.description-items {
    width: $basis-width;
    margin: -70px auto 0;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    position: relative;
}

.item-description-wrapper {
    width: 642px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 73px;
    padding-bottom: 43px;
    border-bottom: 1px solid #eaeaea;
}

.item-description-headind {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: $main-pink-color;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
}

.item-description-name {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
    margin-top: 24px;
}

.item-description-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5e5e5e;
    margin-top: 57px;
    margin-bottom: 28px;
    text-align: center;
}

.item-details-name {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #b9b9b9;
    margin-left: 30px;
    margin-right: 10px;
}


.item-details {
    color: #2f2f2f;
}

.item-price {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #ef5b70;
    margin-top: 37px;
}

.item-select {
    display: flex;
    flex-wrap: wrap;
    width: 642px;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 63px;
    margin-bottom: 122px;
}

.item-select-header {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;
    margin-bottom: 16px;
}

.filter-select {
    outline: none;
    border: 1px solid #eaeaea;
    appearance: none;
    background-image: url(../img/select_arrow.png);
    background-repeat: no-repeat;
    background-position: 120px center;
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding: 5px 15px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #bcbcbc;
}

.filter-select-quantity {
    outline: none;
    border: 1px solid #eaeaea;
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding: 5px 15px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #bcbcbc;
}

.item-select-btn {
    width: 537px;
height: 55px;
background-color: #ffffff;
border: 1px solid $main-pink-color;
font-size: 16px;
font-weight: 700;
color: $main-pink-color;
flex-grow: 1;
margin-top: 28px;
cursor: pointer;
&:hover {
    background-color: $main-pink-color;
    color: #ffffff;
}
}

.buy-more {
    @include width-wrapper;
    display: flex;
   align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-bottom: 72px;
    }

.buy-more-heading {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
    text-align: center;
    display: block;
    width: inherit;
    margin-bottom: 72px;
}

.buy-more-items-name {
    font-size: 14px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
color: #6f6e6e;
}

.buy-more-prise-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

